<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">
        Salva-aluno
      </h1>
      <p class="lead text-center">
        Bem vindo, estudante maluco!
        Este sistema foi projetado pra ajudá-lo a não perder o pouco sanidade que ainda lhe resta
      </p>
      <p class="text-center">
        Com esse sistema você pode:
      </p>
      <ul class="list-group">
        <li class="list-group-item">Ver as suas aulas do dia</li>
        <li class="list-group-item">Cadastrar novas aulas</li>
        <li class="list-group-item">Controlar suas presenças ou faltas</li>
        <li class="list-group-item">Cadastrar os dias das suas avaliações
        </li>
      </ul>
      <p class="text-center mt-4">
        Lembre-se: A vida é ruim, mas os guri são pior!
      </p>
    </div>
  </div>
</div>
